@font-face {
    font-family: "Open Sans Condensed Bold";
    src: url('../fonts/OpenSans_Condensed-Bold.ttf');
}
@font-face {
    font-family: "Open Sans Condensed ExtraBold";
    src: url('../fonts/OpenSans_Condensed-ExtraBold.ttf');
}


/* customizing headers */
.header-hero, footer{
    background-color: inherit;
}
header{
    box-shadow: 0px 4px 4px 0px rgba(226, 223, 223, 0.25);
}
footer{
    box-shadow: 4px 0px 0px 4px rgba(226, 223, 223, 0.25);
}
header a, footer .social a, footer, .toggle-bar{
    color: var(--sub-black) !important;
}
nav a:hover{
    border-bottom: 2px solid var(--primary-color) !important;
}

/* customizing post */
#post img{
    width: 65%;
    height: auto;
}
main{
    /* width: %;   */
    max-width: 800px;
    padding: 0 5%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    font-size: 1.1em;
}
@media screen and (min-width: 550px) {
    main{
        font-size: 1.2em;
    }
}
@media screen and (min-width:750px){
    main{
        padding: 0;
        width: 60%;
    }
}

main h1{
    font-family: 'Open Sans Condensed ExtraBold', 'DM Sans';
    font-size: 2.5em;
    color: var(--primary-color);
}
main h2, main h3{
    font-family: 'Open Sans Condensed Bold', 'DM Sans';
}
p{
    margin-bottom: 2em;
}


main.md{
    width: 100%;
    font-size: 1em;
    gap: 2em;
    align-items: center;
    max-width: 400px;
}
form{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: .5em;
    align-self: flex-start;
}

label{
    display: block;
}
input, textarea{
    width: 100%;
    padding: .5em;
    background-color: transparent;
    border: .5px solid var(--sub-black);
    border-radius: .2em;
    font-family: inherit;
    font-size: 1em;
    resize: none;
    outline: none;
}
input:focus, textarea:focus{
    border-color: var(--primary-color);
    transition: var(--transition1)
}

textarea{
    height: 6em;
}
input[type='submit']{
    background-color: var(--primary-color);
    color: white;
    border: none;
}
input[type='submit']:hover{
    background-color: var(--sub-white);
    color: var(--primary-color);
    border: .1em solid var(--primary-color);
    transition: var(--transition1);
}
input.errorInput, textarea.errorInput{
    border-color: red;
    transition: var(--transition1);
}
.error{
    font-size: .8em;
    color: red;
    transition: var(--transition1);
}


.contact-option{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5em;
}
.contact-option div:first-child{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: .3em;
}

.contact-option div:nth-child(2){
    display: flex;
    gap: 1em;
}
main a{
    color: var(--sub-shade-black);
    transition: var(--transition1)
}
   
main a:hover{
    color: var(--primary-color);
    transition: var(--transition1)
}

#copyBtn {
    cursor: pointer;
    color: black;
}